@model IEnumerable<web_client_project.Models.MvcEmployee>

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_type_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_type_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
